/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 1180px) {
    h1 {
      font-size: 62px;
    }
  }
  
  @media screen and (max-width: 1170px) {
    h1 {
      font-size: 56px;
    }
  }
  
  
  @media screen and (max-width: 991px) {
    h1 {
      font-size: 38px;
    }
  
    h2 {
      font-size: 32px;
    }
  
    h3 {
      font-size: 26px;
    }
  
    h4 {
      font-size: 24px;
    }
  
    h5 {
      font-size: 20px;
    }
  
    h6 {
      font-size: 18px;
    }
  
    .site-header,
    .section-padding {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  
    .navbar {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
    .navbar-nav .nav-link {
      padding-top: 5px;
      padding-bottom: 10px;
    }
  
    #BookingModal .modal-content {
      padding-bottom: 200px;
    }
  
    #BookingModal .modal-content::before {
      background-image: url('../images/modal-small.jpg');
      background-position: bottom;
      top: auto;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 200px;
      transform: rotate(180deg);
    }
  
    #BookingModal .modal-body {
      padding-top: 18px;
      padding-right: 32px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .newsletter-image {
      max-width: 310px;
      max-height: 310px;
    }
  
    .hero-carousel .carousel-control-prev,
    .hero-carousel .carousel-control-next {
      width: 50px;
      height: 50px;
    }
  }