
/* ==========================
*   Typohraphy
============================*/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  color: #25282b;
}



/*==================================
* Bootstrap grid tweaks
*===================================*/



/* Remove space from columns */

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*="col-"]:not(:first-child),
.row.no-gutter [class*="col-"]:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

/*==================================
* Just simple warppers
*===================================*/



.inner-page {
  margin-top: 30px;
  margin-bottom: 50px;
}

/*==================================
* Foms
*===================================*/

.custom-control-input:checked ~ .custom-control-indicator {
  color: #fff;
  background-color: #5c4ac7;
  margin-top: 0;
  padding: 10px;
  border-radius: 100%;
}

.custom-checkbox .custom-control-indicator {
  border-radius: 100%;
}

.custom-control-indicator {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 1px 3px rgba(93, 92, 99, 0.05);
  border: 1px solid rgba(116, 135, 150, 0.23);
}

.custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #5c4ac7;
  box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #5c4ac7;
}

.custom-radio .custom-control-input:checked ~ .custom-control-indicator {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0088"%3E%3Cpath fill="%23fff" d="M6.564.75l-3.593.612-1.538-1.55l04.262.9747.2582.193z"/%3E%3C/svg%3E");
}

.custom-control-input:active ~ .custom-control-indicator {
  color: #fff;
  background-color: #5c4ac7;
}

.custom-control-input:disabled ~ .custom-control-indicator {
  cursor: not-allowed;
  background-color: #eee;
}

.custom-control-input:disabled ~ .custom-control-description {
  color: #76767;
}

.custom-control {
  padding-left: 30px;
}

.form-control {
  border: 1px solid #eaebeb;
  border-radius: 2px;
}

.custom-select {
  line-height: 1;
}

/* ==========================
*   Buttons
============================*/

.form-control-lg,

.btn,
.btn-group-lg > .btn,
.btn-lg,
.img-rounded {
  border-radius: 2px;
}

.btn {
  transition: all 0.4s;
}

.btn-secondary {
  color: #373a3c;
  background-color: rgba(252, 251, 249, 0.68);
  border-color: #eaebeb;
}

.btn-purple {
  color: #eaebeb;
  background-color: #5c4ac7;
  border-color: #eaebeb;
}

.btn-purple:hover {
  color: #eaebeb;
  background-color: #4e3fa7;
  border-color: #eaebeb;
}

.theme-btn {
  background-color: #5c4ac7;
  border-color: #5c4ac7;
  color: #fff;
}

.theme-btn-dash {
  border: 2px dashed #5c4ac7;
  background-color: transparent;
  color: #5c4ac7;
}

.theme-btn-dash:hover,
.theme-btn,
.theme-btn.btn-lg:hover,
.btn-secondary:hover {
  background-color: #5c4ac7;
  color: #fff;
  border: 1px solid #5c4ac7;
}

.theme-btn-dash:hover {
  border: 2px solid #5c4ac7;
  color: #fff;
}

.bg-white {
  background-color: #fff;
}









/* ==========================
*  Popular block
============================*/

.popular {
  padding: 70px 0 90px;
  background-size: 100%;
}

.food-item-wrap {
  border: 1px solid #eaebeb;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 30px;
  background: #fafaf8;
}

.food-item-wrap h5 a {
  color: #25282b;
  font-size: 21px;
  font-weight: 600;
}

.food-item-wrap .title h3 {
  font-size: 16px;
  margin-bottom: 35px;
  color: #414551;
  line-height: 21px;
  font-weight: 300;
}

.food-item-wrap .price {
  font-size: 21px;
  font-weight: 700;
  color: #000;
  margin-top: 4px;
  display: inline-block;
}

.food-item-wrap .product-name {
  margin-bottom: 20px;
}

.food-item-wrap .content {
  padding: 25px 15px 35px;
}

.food-item-wrap .restaurant-block {
  border-top: 1px solid #eaebeb;
  float: left;
  width: 100%;
}

.food-item-wrap .right-text {
  margin-left: 10px;
}

.food-item-wrap .right-text a {
  display: block;
}

.food-item-wrap .left {
  float: left;
  padding: 8px 15px;
}

.food-item-wrap .left img {
  padding-top: 3px;
}

@media (min-width: 320px) and (max-width: 568px) {
  .food-item-wrap .left {
    float: left;
    padding: 10px;
  }
  .food-item .left img {
    width: 45px;
  }
  .food-item-wrap .right-text {
    font-size: 13px;
  }
}

.food-item-wrap .right {
  padding: 10px 0;
}

.food-item-wrap .right-like-part {
  border-left: 1px solid #eaebeb;
  padding: 25px 15px;
  font-size: 13px;
}

@media (min-width: 280px) and (max-width: 580px) {
  .food-item-wrap .right-like-part {
    padding: 24px 10px;
    font-size: 10px;
  }
}

.food-item-wrap .right-like-part img {
  vertical-align: middle;
  margin-right: 5px;
}

.food-item-wrap .right-text a {
  color: #25282b;
  font-weight: 400;
}

.food-item-wrap .right-text span,
.food-item-wrap .right-like-part,
.food-item-wrap .right-like-part span {
  font-weight: 300;
  color: #748796;
}

.food-item-wrap .figure-wrap {
  position: relative;
  height: 210px;
}

.food-item-wrap .food-item-wrap figure {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.food-item-wrap .food-item-wrap figure img {
  width: 100%;
}


.food-item-wrap:hover h5 > a,
.food-item-wrap:hover .right-text > a {
  color: #5c4ac7;
}

.food-item-wrap .figure-text {
  position: absolute;
  top: 0;
  padding: 13px 28px 18px 18px;
  width: 100%;
  height: 100%;
}

.food-item-wrap .figure-text .bottom {
  position: absolute;
  bottom: 25px;
  float: left;
  width: 87%;
}

.food-item-wrap .review {
  margin-top: 5px;
  font-size: 10px;
  text-transform: uppercase;
}

.food-item-wrap .distance {
  background: #5c4ac7;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  padding: 0 10px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 20px;
}

.food-item-wrap .rating i {
  color: #ffd953;
  font-size: 16px;
}

.food-item-wrap .rating .fa-star-o {
  font-size: 17px;
}

.food-item-wrap .rating {
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.food-item-wrap .review {
  right: 30px;
  position: absolute;
  bottom: 30px;
}

.food-item-wrap .review a {
  color: #fff;
}

.food-item-wrap .left-sidebar,
.food-item-wrap .right-sidebar {
  width: 300px;
}

.food-item-wrap .lf-ghost {
  width: 395px !important;
  float: left;
}

/*============================================
* Modal 
=============================================*/

.cart-addon .food-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ededed;
  padding: 2px 0 15px;
}

.cart-addon .food-item:last-of-type {
  border-bottom: none;
}

.cart-addon .food-item .item-img img {
  max-width: 70px;
}

.cart-addon .food-item .rest-descr {
  margin-left: 80px;
}

.cart-addon .food-item h6 {
  /* margin: 0 0 2px 0; */
}

.cart-addon .food-item h6 a {
  font-size: 16px;
  color: #4d4f56;
  display: block;
  margin: 4px 0 0 0;
  line-height: 20px;
}

.cart-addon .food-item .price {
  font-weight: 600;
  margin-top: 15px;
  display: block;
  color: #25282b;
}

.cart-addon .food-item .form-control {
  margin-top: 8px;
}



button.close span {
  display: block;
}







/* Food items */

.menu-widget,
.widget {
  border: 1px solid #eaebeb;
  background: #fafaf8;
  border-radius: 2px;
  position: relative;
}

.widget-body {
  padding: 20px;
}

.panel {
  margin-bottom: 15px;
  border: 1px solid #dcdee3;
  border-radius: 3px;
  box-shadow: none;
}

.panel-heading {
  padding: 15px;
  border: none !important;
  border-radius: 0;
}

.panel-heading i {
  padding-right: 7px;
  font-size: 14px;
}

.panel-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  color: #25282b;
}

.panel-title a {
  color: #25282b;
}

.panel .panel-body {
  padding: 20px;
}

.list-check > li {
  line-height: 24px;
  position: relative;
  margin-bottom: 10px;
  padding-left: 23px;
}

.list-check > li:after {
  font-family: FontAwesome;
  position: absolute;
  top: 1px;
  left: 0;
  content: "\f05d";
  color: #7ab55c;
  font-size: 18px;
}

.menu-widget .food-item {
  padding: 15px;
}

.menu-widget .food-item:first-of-type {
  border-bottom: none;
}

.menu-widget .food-item .restaurant-logo {
  max-width: 100px;
  height: auto;
  display: block;
}

.menu-widget .food-item .restaurant-logo img {
  max-width: 100%;
  display: block;
}

.menu-widget .food-item:first-of-type {
  border-top: 1px solid #eaebeb;
}

.menu-widget .food-item:last-of-type {
  border-bottom: transparent;
}

.menu-widget .food-item.white {
  background-color: #fff;
}

.menu-widget .food-item .rest-descr {
  padding-left: 115px;
  padding-top: 0;
}

.menu-widget .food-item .rest-descr h6 a {
  color: #25282b;
  font-size: 18px;
  font-weight: 600;
}

.menu-widget .food-item .item-cart-info {
  padding-top: 20px;
}

.menu-widget .food-item .price {
  font-weight: 600;
  color: #000;
  position: relative;
  margin-top: 6px;
}

.order-row .form-control {
  border-radius: 0;
}

.order-row .title-row {
  margin-bottom: 10px;
}

.order-row .title-row a i {
  margin-top: 7px;
}

.order-row {
  border-bottom: 1px solid #eaebeb;
}

.order-row:last-of-type {
  border-bottom: none;
}

@media (max-width: 543px) {
  .widget-cart {
    margin: 20px auto;
    float: right;
    width: 100%;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .widget-cart {
    margin: 20px auto;
    float: right;
    width: 66.666667%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .widget-cart {
    margin-top: 20px;
    float: right;
    width: 66.666667%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}

a[aria-expanded="true"] .fa-angle-right {
  display: none;
}

a[aria-expanded="false"] .fa-angle-down {
  display: none;
}


/*==================================
* MAPS
*=================================*/

.pricing-box {
  background-color: #fcfbf9;
  border-radius: 3px;
  border: 1px solid #ededed;
  padding: 60px 20px 0;
  margin-top: -80px;
  margin-bottom: 50px;
  text-align: center;
  color: #414551;
  position: relative;
  z-index: 2;
}

@media (min-width: 380px) and (max-width: 1170px) {
  .pricing-box {
    margin-top: 50px;
  }
}

.pricing-box .price {
  color: #e8500e;
  font-size: 78px;
  line-height: 1;
  font-weight: 700;
  display: inline-block;
  position: relative;
}

.pricing-box .price .currency {
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  left: -20px;
  top: -7px;
}

.pricing-box h2 {
  font-size: 33px;
  font-weight: 600;
  margin: 15px 0 10px;
}

.pricing-box p {
  font-weight: 600;
}

.pricing-box ul {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
}

.pricing-box ul li {
  padding: 8px 0;
}

.pricing-box .btn {
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  height: 50px;
  line-height: 32px;
  font-size: 16px;
  -webkit-transform: translateY(50%);
  -khtml-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.pricing-box .btn:hover {
  color: #fff;
}

.pricing-faq div {
  padding-top: 30px;
}

.pricing-faq h3 {
  font-size: 18px;
  font-weight: 600;
}

.pricing-faq p {
  margin: 30px 0;
}

.gl-page-content-section {
  padding-top: 69px;
}

